@import "tailwindcss";

/* Define custom fonts in @theme */
@theme {
  --font-montserrat_regular: "montserrat-regular", sans-serif;
  --font-montserrat_bold: "montserrat-bold", sans-serif;

  /* 🎨 Custom colors */
  /* digital printn color (start) ====================================> */
  --color-digital-print-1: #f17e06;
  --color-digital-print-2: #ec5c11;
  --color-digital-print-3: #f59b00;
  /* digital printn color (end) ====================================> */
}

@font-face {
  font-family: "montserrat-regular";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: "montserrat-bold";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700; /* Regular weight */
  font-style: normal;
}
